<div class="container" ng-controller="ProjectCreateController">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Sign Up</h2>
			<p>Already have and account? Then please <a href="#">signin</a>.</p>
			<form class="form-horizontal" ng-submit="createProject()" role="form" novalidate>
				<div id="div_id_username" class="form-group">
					<label for="id_username" class="control-label">Username*</label>
					<div class="controls">
						<input ng-model="user.username" type="text" name="username" id="id_username" class="textinput textInput form-control" maxlength="200" value="" ng-required="true" pattern="" title="">
					</div>
				</div>
				<div id="div_id_email" class="form-group">
					<label for="id_email" class="control-label">E-mail*</label>
					<div class="controls">
						<input ng-model="user.email" type="email" name="email" id="id_email" class="textinput textInput form-control" maxlength="200" value="" ng-required="true" pattern="" title="">
					</div>
				</div>
				<div id="div_id_password" class="form-group">
					<label for="id_password" class="control-label">Password*</label>
					<div class="controls">
						<input ng-model="user.password" type="text" name="password" id="id_password" class="textinput textInput form-control" maxlength="200" value="" ng-required="true" pattern="" title="">
					</div>
				</div>
				<div id="div_id_name" class="form-group">
					<label for="id_name" class="control-label">Name</label>
					<div class="controls">
						<input ng-model="project.name" type="text" name="name" id="id_name" class="textinput textInput form-control" maxlength="200" value="" ng-required="true" pattern="" title="">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>