{% extends "projects/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Projects" %}{% endblock head_title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Projects</h2>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!--<a href="{% url 'projects:create' %}">
				<button type="button" class="btn btn-primary">
				{% trans "Create New Project" %}</button>
			</a>-->
			<!--{% if project_list %}-->
				<ul class="list-group" ng-repeat="p in projects">
				<!--{% for project in project_list %}-->
					<!--<a href="{% url 'projects:list' %}">-->
					
						<li class="list-group-item col-xs-7 col-sm-9">
							<!--<div class="status col-xs-1">{{ project.status }}</div>-->
				    		<!--<h4 class="list-group-item-heading col-xs-11">{{ project.name }}</h4>-->
							<!--<a href="{% url 'projects:detail' project.name %}">-->
							<h4 class="list-group-item-heading col-xs-11">{{p.name}}</h4>
							
								<span class="glyphicon glyphicon-eye-open"></span>
							
							<!--{% if project.owner_id == request.user.pk %}-->
								<!--<a href="{% url 'projects:update' project.name %}">-->
								
									<span class="glyphicon glyphicon-pencil"></span>
								
								<!--<a href="{% url 'projects:delete' project.name %}">-->
								
									<span class="glyphicon glyphicon-remove"></span>
								
							<!--{% endif %}-->
					    </li>
					
				<!--{% endfor %}-->
				</ul>
			<!--{% else %}-->
				<p>You have no projects</p>
				<br/>
			<!--{% endif %}-->
			<button type="button" class="btn btn-primary col-md-offset-1">Search a Project</button>
		</div>
	</div>
</div>
{% endblock content %}